body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

button {
    color: white;
    font-size: 14px;
    background-color: #60affc;
    border-radius: 5px;
    border: 1px white solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
}

h1 {
    font-weight: normal;
    text-align: center;
}
